<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">


	<test thread-count="5" name="Header">
		<parameter name="browser" value="chrome"></parameter>
		<!-- <parameter name="browser" value="firefox"></parameter> -->

		<classes>
			<class name="Testcases.HeaderLink" />
		</classes>
	</test>
	<test thread-count="5" name="Footer">
		<parameter name="browser" value="chrome"></parameter>
		<!-- <parameter name="browser" value="firefox"></parameter> -->
		<classes>
			<class name="Testcases.FooterLinks" />
		</classes>
	</test>
	<test thread-count="5" name="oneway">
		<parameter name="browser" value="chrome"></parameter>
		<!-- <parameter name="browser" value="firefox"></parameter> -->

		<classes>
			<class name="Testcases.Oneway_Test" />
		</classes>
	</test>
	<test thread-count="5" name="Flight_Status">
		<parameter name="browser" value="chrome"></parameter>
		<!-- <parameter name="browser" value="firefox"></parameter> -->

		<classes>
			<class name="Objects.Flight_Status" />
		</classes>
	</test> 	<!-- Test -->
</suite> <!-- Suite -->
